.places{
    margin: 0 auto 92px;
}

@media screen and (max-width: 768){
    .places{
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320){
    .places{
        margin-bottom: 64px;
    }
}