.places{
    margin: 0 148px 92px;
}

@media screen and (max-width: 1024){
    .places{
        margin: 0 48px 92px;
    }
}

@media screen and (max-width: 768){
    .places{
        margin: 0 24px 88px;
    }
}

@media screen and (max-width: 320){
    .places{
        margin: 0 0 65px;
    }
}