.card__image {
    max-width: 460px;
    min-height: 460px;
    object-fit: cover;
  }
  
@media screen and (max-width: 1024px) {
  .card__photo {
    max-width: 440px;
    min-height: 440px;
  }
}
  
@media screen and (max-width: 768px) {
  .card__photo {
    max-width: 340px;
    min-height: 340px;
  }
}

@media screen and (max-width: 768px) {
  .card__photo {
    max-width: 320px;
    min-height: 320px;
    margin-bottom: 32px;
  }
}